docker/data

docker/history.txt

docker-monitoring/

volumes/

docker/save/

docker/alertmanager/alertmanager.yml

docker/env/*
!docker/env/sample*
docker/docker-compose-standalone.yml

docker/docker-compose-master-slave.yml

docker/alertmanager/alert.rules/alerts.rules.yml.samples

docker/grafana/dashboards/grafana-solr-dashboard.json

docker/grafana/dashboards/monitoring-machine.json

docker/prometheus/prometheus.yml.save

docker/readme.txt

docker.save/
